<!-- About Page -->
<!doctype html>
<html lang="en">
  <head>
		<link href="/css/about.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>About KnowLo</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <style>
  	h1 {text-align: center;}
	p {text-align: center;}
	div {text-align: center;}
	body{
	background-image: url('/img/bg.jpg');
    font-family: 'Times New Roman', Times, serif;
	text-align: center;
	}
  </style>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="/users/dashboard">
		<img class="square" src="/img/logo.png" alt="home" width="40" height="40">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/users/login">Sign in</a>
		  </li>
		  <li class="nav-item active">
				<a class="nav-link" href="/users/about">About<span class="sr-only">(current)</span></a>
			  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<a class="btn btn-outline-light my-2 my-sm-0" href="/users/logout" type="submit">Logout</a>
		</div>
	  </div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3">
				<div class="jumbotron">
					<h1 class="center">KnowLo</h1>
				</div>
				<div class="jumbotron">
  					<h3>Know where you go!</h3>
  					<p>KnowLo provides you with several locations to travel to. You can view general locations from around the world, all with travel details and up-to-date news feeds to inform your traveling needs! All locations will also have a list of nearby hotels for you to book your stay at. If you'd like to keep track of certain locations and get recommendations, you can make an account! So stop looking and start booking!</p>
				</div>
				<div class="jumbotron">
					<h3>Sources</h3>
					<p><a href="https://www.nytimes.com">New York Times</a></p>
					<p><a href="https://www.france24.com">France 24</a></p>
					<p><a href="https://www.timeout.com">Timeout</a></p>
					<p><a href="https://www.bbc.com/news">BBC News</a></p>
					<p><a href="https://www.bangkokpost.com">Bangkok Post</a></p>
					<p><a href="https://www.channelnewsasia.com/news">Channel News Asia</a></p>
					<p><a href="https://www.9news.com.au">9News</a></p>
					<p><a href="https://www.scmp.com/news">South China Morning Post</a></p>
					<p><a href="https://www.news18.com">News18</a></p>
					<p><a href="https://zeenews.india.com">Zeenews</a></p>
					<p><a href="https://www.newsnow.co.uk">News Now</a></p>
					<p></p>
					<h3>Credits</h3>
					<p>Gavin Downie</p>
					<p>Xinxin Li</p>
					<p>Nick Pritchyk</p>
					<p>Quinn Williamson</p>
				</div>
			</div>
		</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>