<!-- Home Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
	      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js%22%3E"></script>
	      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js%22%3E"></script>	
    <title>Home Page</title>
	
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
	type="text/javascript"></script>
	
	<style type="text/css">
	@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");
	
	#feedControl {
	margin-top : 10px;
	margin-left: auto;
	margin-right: auto;
	width : 440px;
	font-size: 12px;
	color: #9CADD0;
	}
	</style>
	<script type="text/javascript">
	function load() {
	var feed ="http://feeds.bbci.co.uk/news/world/rss.xml";
	new GFdynamicFeedControl(feed, "feedControl");
	
	}
	google.load("feeds", "1");
	google.setOnLoadCallback(load);
	</script>
	
    <!-- Bootstrap core CSS -->
	
	<!----<link href="<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> ---->
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			      <a class="navbar-brand" href="home.html">
			        <img class="square" src="Stroke.jpg" alt="" width="30" height="30">
			      </a>
			      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			      </button>
			      <div class="collapse navbar-collapse" id="navbarText">
			        <ul class="navbar-nav mr-auto">
			          <li class="nav-item">
			            <a class="nav-link" href="search.html">Travel!</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="trip.html">Planned Trips</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="signIn.html">Sign in</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="signUp.html">Sign up</a>
			          </li>
			          <li class="nav-item active">
			            <a class="nav-link" href="About.html">About<span class="sr-only">(current)</span></a>
			          </li>
			        </ul>
			        <div class="form-inline my-2 my-lg-0">
			            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
			        </div>
					
			      </div>
			    </nav>
				<div class="container-fluid text-center">
				  <img src="toppic.jpg" class="img-fluid" alt="Responsive image">
				  <h1 style=" padding-top: 3.125rem;"> Tour in Paris </h1>
				  
				  <br />
				  <br />
				  <br />
				  <br />
				  <div class="container text-center" >
				          <div class="row">
				            <div class="col-md-6 col-12">
				              <div>
				                <img src="pexels.jpg" style="opacity: 0.8; width: 80%; border-radius: 0.2em;" />
				              </div>
				            </div>
				            <div class="col-md-6 col-12" style="position:relative ;">
				              <div class="text-left" style="position: absolute; top: 2vmin; left: -8vmin; background:white; padding:1.25rem;border-radius:0.1875rem;box-shadow: 0rem 1.5625rem 2.625rem rgba(0, 0, 0,0.2);">
				                <h1>Local Attraction</h1>
				                <p>
				                  Nowhere else on earth makes the heart swoon like the mention of Paris. The city lures with its magnificent art, architecture, culture, and cuisine, but there’s also a quieter magic waiting to be explored: the quaint cobbled lanes, the sweet patisseries around the corner, and the cozy little bistros that beckon with a glass of Beaujolais. Get ready to make Paris your own.
				                </p>
				                <p>
				                  Paris is the capital and most populous city of France, with an estimated population of 2,175,601 residents as of 2018, in an area of more than 105 square kilometres (41 square miles).Since the 17th century, Paris has been one of Europe's major centres of finance, diplomacy, commerce, fashion, science and arts. The City of Paris is the centre and seat of government of the Île-de-France, or Paris Region, which has an estimated official 2017 population of 12,174,880, or about 18 percent of the population of France.
				                </p>
				              </div>
				            </div>
				          </div>
				        </div>
						

				
				</div>
				
				<div class="container">
					<div class="container"style="margin-top: 100px;">
						<div class="card-deck">
						  <div class="card">
						    <img class="card-img-top" src="..." alt="Card image cap">
						    <div class="card-body">
						      <h5 class="card-title">Card title</h5>
						      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						    </div>
						  </div>
						  <div class="card">
						    <img class="card-img-top" src="..." alt="Card image cap">
						    <div class="card-body">
						      <h5 class="card-title">Card title</h5>
						      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						    </div>
						  </div>
						  <div class="card">
						    <img class="card-img-top" src="..." alt="Card image cap">
						    <div class="card-body">
						      <h5 class="card-title">Card title</h5>
						      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						    </div>
						  </div>
						</div>
					</div>
				</div>
				
				<div class="container" style="margin-top: 100px;">
					<div class="row">
					  <div class="col-4">
					    <div class="list-group" id="list-tab" role="tablist">
					      <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
					      <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
					      <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
					      <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
					    </div>
					  </div>
					  <div class="col-8">
					    <div class="tab-content" id="nav-tabContent">
					      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">x</div>
					      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">y</div>
					      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">z</div>
					      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
					    </div>
					  </div>
					</div>
				</div>
				<div id="body">
				<div id="feedControl">News part</div>
				</div>
				<div class="container" style="margin-top: 6.25rem; padding-top: 50px;">
					<div class= "text-center" style = "padding-bottom: 80px;background:url(https://stjustinschool.org/wp-content/uploads/2020/07/contact-us.jpg); background-position: -24rem -18rem;
  background-size: 80%;
  position: relative; ">
						<h1>Please Contact us for more help.</h1>
					</div>
					<form>
					<div class="form-group">
					  <label for="exampleFormControlInput1" class="form-label">Name</label>
					  <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Last, First Name">
					</div>
					<div class="form-group">
					  <label for="exampleFormControlInput2" class="form-label">Email address</label>
					  <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
					</div>
					<div class="form-group">
					  <label for="exampleFormControlTextarea1" class="form-label">Example text area</label>
					  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
	<footer>
		<div class="container-fluid" style="background-color: black; height: 180px; margin-top: 100px;">
			<div class="row text-left">
				<div class="col-md-6" style="padding-top: 30px;">
					<h1 class="text-light">
						Travel Safely
					</h1>
					<p class="text-muted">
						Powered by Knowlo.
					</p>
				</div>
				
				
			</div>
		</div>
	</footer>
				
			
	
</body>
</html>